/Devs/Client_Java/Seoladh_Protoype/nbproject/private/
/Devs/Client_Java/Seoladh_Protoype/dist/
/Devs/Client_Java/Seoladh_Protoype/build/
/Seoladh_Web_Java_JEE/nbproject/private/
/Seoladh_Web_Java_JEE/build/