/* = = [ Navbar ] = = */

#nav-bar,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link{
    color: rgba(143, 78, 221, 1.0);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .active>.nav-link{
    color: rgba(143, 78, 221, 1.0);
    text-shadow:
        -1px 0 rgba(143, 78, 221, 0.2),
        0 1px rgba(143, 78, 221, 0.2),
        1px 0 rgba(143, 78, 221, 0.2),
        0 -1px rgba(143, 78, 221, 0.2)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(143, 78, 221, 1.0);
    text-decoration : underline;
    cursor: pointer;
}

#nav-bar, .rounded{
    border-radius: 0!important;
}

#nav-bar .dropdown-menu .dropdown-item{
    color: rgba(143, 78, 221, 1.0);
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: rgba(143, 78, 221, 0.2);
}