<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee          http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- App Name -->
    <display-name>Seoladh | App Web Java JEE</display-name>
    <!-- Home Page -->
    <welcome-file-list>
        <welcome-file>/home</welcome-file>
    </welcome-file-list>
    <!-- Page_Home -->
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>app.views.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Home -->
    <!-- Page_Campaigns_Lists -->
    <servlet>
        <servlet-name>CampaignsLists</servlet-name>
        <servlet-class>app.views.CampaignsLists</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignsLists</servlet-name>
        <url-pattern>/campaigns</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Campaigns_Lists -->
    <!-- Page_Campaigns_New -->
    <servlet>
        <servlet-name>CampaignsNew</servlet-name>
        <servlet-class>app.views.CampaignsNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignsNew</servlet-name>
        <url-pattern>/campaigns-new</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Campaigns_New -->
    <!-- Page_Campaigns_Import -->
    <servlet>
        <servlet-name>CampaignsImport</servlet-name>
        <servlet-class>app.views.CampaignsImport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignsImport</servlet-name>
        <url-pattern>/campaigns-import</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Campaigns_Import -->
    <!-- Page_Campaigns_Export -->
    <servlet>
        <servlet-name>CampaignsExport</servlet-name>
        <servlet-class>app.views.CampaignsExport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignsExport</servlet-name>
        <url-pattern>/campaigns-export</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Campaigns_Export -->
    <!-- Page_ListsContacts -->
    <servlet>
        <servlet-name>ListsContacts</servlet-name>
        <servlet-class>app.views.ListsContacts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListsContacts</servlet-name>
        <url-pattern>/lists-contacts</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ListsContacts -->
    <!-- Page_Contacts_Blacklist -->
    <servlet>
        <servlet-name>ContactsBlacklist</servlet-name>
        <servlet-class>app.views.ContactsBlacklist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsBlacklist</servlet-name>
        <url-pattern>/contacts-blacklist</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Contacts_Blacklist -->
    <!-- Page_ListsContacts_New -->
    <servlet>
        <servlet-name>ListsContactsNew</servlet-name>
        <servlet-class>app.views.ListsContactsNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListsContactsNew</servlet-name>
        <url-pattern>/lists-contacts-new</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ListsContacts_New -->
    <!-- Page_ListsContacts_Suppr -->
    <servlet>
        <servlet-name>ListsContactsSuppr</servlet-name>
        <servlet-class>app.views.ListsContactsSuppr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListsContactsSuppr</servlet-name>
        <url-pattern>/lists-contacts-suppr</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ListsContacts_Suppr -->
    <!-- Page_ListsContacts_Clean -->
    <servlet>
        <servlet-name>ListsContactsClean</servlet-name>
        <servlet-class>app.views.ListsContactsClean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListsContactsClean</servlet-name>
        <url-pattern>/lists-contacts-clean</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ListsContacts_Clean -->
    <!-- Page_ListsContacts_Import -->
    <servlet>
        <servlet-name>ListsContactsImport</servlet-name>
        <servlet-class>app.views.ListsContactsImport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListsContactsImport</servlet-name>
        <url-pattern>/lists-contacts-import</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ListsContacts_Import -->
    <!-- Page_ListsContacts_Export -->
    <servlet>
        <servlet-name>ListsContactsExport</servlet-name>
        <servlet-class>app.views.ListsContactsExport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListsContactsExport</servlet-name>
        <url-pattern>/lists-contacts-export</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ListsContacts_Export -->
    <!-- Page_Contacts -->
    <servlet>
        <servlet-name>Contacts</servlet-name>
        <servlet-class>app.views.Contacts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contacts</servlet-name>
        <url-pattern>/contacts</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Contacts -->
    <!-- Page_ContactsNew -->
    <servlet>
        <servlet-name>ContactsNew</servlet-name>
        <servlet-class>app.views.ContactsNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsNew</servlet-name>
        <url-pattern>/contacts-new</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ContactsNew -->
    <!-- Page_ContactsEdit -->
    <servlet>
        <servlet-name>ContactsEdit</servlet-name>
        <servlet-class>app.views.ContactsEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsEdit</servlet-name>
        <url-pattern>/contacts-edit</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ContactsEdit -->
    <!-- Page_ContactsImport -->
    <servlet>
        <servlet-name>ContactsImport</servlet-name>
        <servlet-class>app.views.ContactsImport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsImport</servlet-name>
        <url-pattern>/contacts-import</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ContactsImport -->
    <!-- Page_ContactsExport -->
    <servlet>
        <servlet-name>ContactsExport</servlet-name>
        <servlet-class>app.views.ContactsExport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsExport</servlet-name>
        <url-pattern>/contacts-export</url-pattern>
    </servlet-mapping>
    <!-- ./Page_ContactsExport -->
    <!-- Page_Admin -->
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>app.views.Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin -->
    <!-- Page_Admin_Users -->
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>app.views.AdminUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/admin-users</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin_Users -->
    
    <!-- Page_Admin_Users_New -->
    <servlet>
        <servlet-name>AdminUsersNew</servlet-name>
        <servlet-class>app.views.AdminUsersNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUsersNew</servlet-name>
        <url-pattern>/admin-users-new</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin_Users_New -->
    <!-- Page_Admin_Users_Edit -->
    <servlet>
        <servlet-name>AdminUsersEdit</servlet-name>
        <servlet-class>app.views.AdminUsersEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUsersEdit</servlet-name>
        <url-pattern>/admin-users-edit</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin_Users_Edit -->
    
    <!-- Page_Admin_Roles -->
    <servlet>
        <servlet-name>AdminRoles</servlet-name>
        <servlet-class>app.views.AdminRoles</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRoles</servlet-name>
        <url-pattern>/admin-roles</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin_Roles -->
    <!-- Page_Admin_Roles_New -->
    <servlet>
        <servlet-name>AdminRolesNew</servlet-name>
        <servlet-class>app.views.AdminRolesNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRolesNew</servlet-name>
        <url-pattern>/admin-roles-new</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin_Roles_New -->
    <!-- Page_Admin_Roles_Edit -->
    <servlet>
        <servlet-name>AdminRolesEdit</servlet-name>
        <servlet-class>app.views.AdminRolesEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminRolesEdit</servlet-name>
        <url-pattern>/admin-roles-edit</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin_Roles_Edit -->
    <!-- Page_Admin_Server -->
    <servlet>
        <servlet-name>AdminServer</servlet-name>
        <servlet-class>app.views.AdminServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServer</servlet-name>
        <url-pattern>/admin-server</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Admin_Server -->
    <!-- Page_Profile -->
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>app.views.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <!-- ./Page_Profile -->
</web-app>
